<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fashion MNIST by Coalee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#button_train').on('click', function() {
                $.ajax({
                    url: 'ml/_ajax/train',
                    data: {
                        train_set_size: $('#num_train_set_size').val(),
                        learning_rate: $('#num_learning_rate').val(),
                        train_steps: $('#num_train_steps').val(),
                        batch_test_set_size: $('#num_batch_test_set_size').val()
                    },
                    success: function(data) {
                        var $img_weights_map = $('<img />').attr('src', '../' + data.src_weights_map);
                        $('#wrapper_weights_map').append($img_weights_map);
                        console.log(data);
                    }
                });
            });
        });
    </script>

</head>
<body>
<div class="container">
    <h2>Basic MNIST exercise <a href="https://www.oreilly.com/learning/not-another-mnist-tutorial-with-tensorflow">(reference)</a></h2>
    <hr>
    <div class="default row">
        <div class="col-md-6">
            <h3>Default Neural Network</h3>
            <form id="train_form" method="post">
                <h4>Train Set Size (100 ~ 60000)</h4>
                <input id="num_train_set_size" type="number" min="0" max="60000" step="1000" value="5500">
                <h4>Learning Rate (0 ~ 1.0)</h4>
                <input id="num_learning_rate" type="number" min="0" max="1" step="0.01" value="0.1">
                <h4>Train Steps () </h4>
                <input id="num_train_steps" type="number" min="0" value="2500">
                <h4>Batch Test Set Size (0 ~ 10000)</h4>
                <input id="num_batch_test_set_size" type="number" min="0" max="10000" step="1000" value="10000">
                <hr>
                <a id="button_train" class="btn btn_primary" href="#">Train</a>
            </form>
            <form id="test_form" method="post">

            </form>
        </div>
        <div class="col-md-6">
            <div id="wrapper_weights_map"></div>
            <div id="wrapper_test_image"></div>
            <div id="wrapper_test_result"></div>
        </div>
    </div>
</div>
</body>
</html>
